$mainElement: #ececec;
$lightShadow: #ffffff;
$darkShadow: #a3b1c6;
$secondColor: #4b01ac;
$thirdColor: #252525;
$mainElement50: #e0e5ec7c;
$fontColor: #697381;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: $mainElement; /* fallback for old browsers */
  //   background: linear-gradient(
  //     to right,
  //     #f8fafb,
  //     #e0e5ec
  //   ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: $fontColor;
  font-family: "Roboto", sans-serif;
}

header {
  h1 {
    border-radius: 10rem;
    box-shadow: -5px -5px 12px $lightShadow, 5px 5px 12px $darkShadow;
    padding: 2rem 3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2rem;
  }
}
.container {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  width: 50vw;
  min-height: 20rem;
  margin: 5rem auto;
  box-shadow: -6px -6px 16px $lightShadow, 6px 6px 16px $darkShadow;
  border-radius: 30px;
}
header,
form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  margin: 1rem;
}

form {
  .todo-input {
    width: 25rem;
    padding: 1rem;
    border: none;
    outline: none;
    border-radius: 25px;
    background-color: $mainElement;
    box-shadow: inset -4px -4px 10px $lightShadow,
      inset 4px 4px 10px $darkShadow;
    color: $secondColor;
    font-size: 1.5rem;
    transition: all 0.5s ease;
  }
  .todo-button {
    font-size: 1.2rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 25px;
    border: none;
    background-color: $mainElement;
    box-shadow: -3px -3px 8px $lightShadow, 3px 3px 8px $darkShadow;
    margin-left: 1rem;
    color: $fontColor;
    &:hover {
      box-shadow: inset -3px -3px 6px $lightShadow,
        inset 3px 3px 6px $darkShadow;
      i {
        color: $secondColor;
      }
    }
    &:focus {
      outline: none;
    }
  }
}

.todo-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .todo-list {
    width: 30%;
    list-style: none;
    max-width: 30%;
    .todo-block {
      max-width: 100%;

      margin: 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-shadow: -3px -3px 10px $lightShadow, 3px 3px 10px $darkShadow;
      border-radius: 1rem;
      transition: all 0.3s ease;
      color: $secondColor;
      &:hover {
        background: $secondColor;
        color: $lightShadow;
        box-shadow: inset -3px -3px 10px $thirdColor,
          inset 3px 3px 10px $mainElement50;
        transition: all 0.3s ease;
        .todo-item {
          color: $lightShadow;
        }
        .delete-button {
          i {
            color: $lightShadow;
          }
        }
        .fa-thumbtack {
          transform: translateY(180deg);
          color: $lightShadow;
        }
      }
      .todo-item {
        flex: 1;
        max-width: 100%;
        height: fit-content;
        padding: 1rem 1rem;
        font-size: 1.2rem;
        word-break: break-all;
        color: $darkShadow;
        i {
          font-size: 1rem;
        }
      }
      .check-button,
      .delete-button {
        padding: 1rem 1rem;
        border: none;
        background: none;
        transition: all 0.5s ease;
        .fa-times,
        .fa-check {
          font-size: 1rem;
          pointer-events: none;
          color: $secondColor;
        }
        &:focus {
          outline: none;
        }
      }
    }
  }
}

.completed {
  box-shadow: inset -3px -3px 8px $lightShadow, inset 3px 3px 8px $darkShadow !important;
  //opacity: 0.5;
  &:hover {
    box-shadow: inset -3px -3px 8px $mainElement50,
      inset 3px 3px 8px $thirdColor !important;
  }
}

.fall {
  transform: translateY(200px) rotateZ(20deg);
  opacity: 0;
}

.disappear {
  opacity: 0;
}
